body{
    overflow-x: hidden;
}

.hero {
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navv {
display: flex;
box-sizing: border-box;

flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 6px 32px;

width: 1272px;
height: 74px;
background: #F2F4F7;
border: 1px solid #D0D5DD;
border-radius: 100px;
flex: none;

}
.clearlink {
    width: 117px;
    height: 29px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #101828;  

}
.brand {
    

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

height: 29px;


}

.navitems {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 0px;
gap: 40px;

margin: 0 auto;
height: 58px;




}

.item1 p {

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #667085;

}
.item1 {
    display: flex;
    align-items: center;
}

.btn1, .btn2, .btn13, .btn23 {
    padding: 14px 24px;
    width: 170px;
    height: 52px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
    cursor: pointer;
}
.btn1{
    background: #FFFFFF;

}

.btn2 {
    background: #175CD3;
    color: white;
}
.btn13 {
    background: #FFFFFF;

}
.btn23{
    background: #175CD3;
    color: white;
    width: 196px;
}

.frame9 article{
width: 662px;
height: 96px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* Gray/500 */
color: #667085;
/* Inside auto layout */


}

.frame9 h1{

width: 585px;
font-weight: 600;
font-size: 60px;
line-height: 72px;
/* or 112% */
letter-spacing: -0.02em;
color: #1D2939;
margin: 0; 
line-height: 1.2;

}

.frame2 button{
    width: 221px;
    height: 60px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    background: #175CD3;

    padding: 16px 28px;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}
.frame20{
    display: flex;
    flex-direction: row;
    line-height: 28px;
    align-items: center;
    gap: 12px;
    width: 216px;
    height: 28px;
    font-weight: 600;
    font-size: 18px;
}

.userreviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 327px;
    height: 80px;
    font-weight: 600;
    font-size: 18px;
    
    color: #667085;
}



.frame4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    height: 600px; 
    gap: 18px;
    padding-left: 30px;
}

.frame31{
    display: flex;
    flex-direction: row;
}

.socialproof p{
    /* Text */

width: 1371.83px;
height: 30px;

/* Text xl/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
text-align: center;

/* Gray/600 */
color: #475467;
}

.socialproof{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame23 p{
 

width: 1168px;
height: 28px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 78px;

color: #175CD3;

}

.frame23 h1{
height: 30px;

font-weight: 600;
font-size: 48px;
line-height: 40px;
letter-spacing: -0.02em;
color: #1D2939;

}

.frame10 article{
width: 1000px;
height: 24px;

/* Display xs/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

/* Gray/500 */
color: #667085;

}

.openfq img{
    cursor: pointer;
}

.handrawnarrow{
position: absolute;
top: 900px;
left: 800px;
transform: rotate(-14.74deg);

}

.attribution {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.avatartext{
    display: flex;
    gap: 8px;
    align-items: center;
}
.text{
    line-height: 4px;
}
.contenttest article{
width: 580px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 34px;
letter-spacing: -0.02em;
color: #101828;

}
.contenttest{
    margin-left: 40px;
    width: 850px;
}

.frame34{
display: flex;
flex-direction: row;
align-items: flex-start;
align-content: flex-start;
padding-left: 50px;
width: 400px;
height: 500px;

}

.shopifystars{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 5px;
}

.text p {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

color: #475467;


}

.t40c {
    margin-left: 40px;
}

.frame35{
    height: 550px
}
.frame10 {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
margin-top: 50px;
margin-left: 40px; 
width: 480px;
height: 288px;



}
.fq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fq img{
    cursor: pointer;
}
.fqp{
    width: 600px;
}

.featuretext{


}

.frame34 article{
    /* Supporting text */

width: 360px;
height: 112px;

/* Text lg/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

/* Gray/600 */
color: #475467;




}

.frame34 h3{
/* Text */

width: 227px;
height: 22px;

/* Display xs/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;

/* Gray/900 */
color: #101828;




}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    width: 1408px;
    height: 556px;
    font-size: 18px;

    
}
.frame39 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center; 
    height: 100px; 
    gap: 150px;

}

.fq1{
    /* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
justify-content: space-between;
width: 600px;
height: 204px;
background: #F9FAFB;
border: 1px solid #EAECF0;
border-radius: 16px;
}
/* FAQ accordian item wrap */
.fq1 article{
    width: 510px;

}
.fqc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 80px;
    

}

.fqc article{

height: 112px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #475467;



}

.frame38 {
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 500px;
    margin-top: 50px;
}

.testimonialsection{
    background: #F9FAFB;
    padding: 15px;
}

.frame40{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    height: 500px;
    align-content: center;

}
.sco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frame61 {
    display: flex;
}
.frame61 p{
    color: #667085;

}
.frame61 h3{
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #667085;

}
.fq h3{

height: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

color: #101828;

}
.fqc h3{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

color: #101828;
}

.footerlink{
    margin-right: 50px;
}

.arrows img{
    cursor: pointer;
}

.logoandt{
    display: flex;
    flex-direction: row;
align-items: center;
padding: 0px;
gap: 2px;
height: 145px;
}

.section1{
    display: flex;
    justify-content: space-between;
}

.frame62{
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-left: 40px;
    height: 100px;
    color: #667085; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 32px; 
    word-wrap: break-word;
}

.footerapp{
    
}
.appbuttons{
    display: flex;
    flex-direction: column;}

.t40hc1{

display: flex;
gap: 6px;




}
.frame3{
    display: flex;
}

.sco{
background: #F9FAFB;

color: #667085;

}
.social {
    display: flex;
    align-items: center;
    gap: 4px;
}

.t40hc1 p{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #475467;

}

.t40hc h3{
font-weight: 520;
font-size: 35px;

color: #101828;


}

.sco p{
    margin-left: 40px;
}

.social {
    margin-right: 40px;
}
